[submodule "mypaint"]
	path = mypaint
	url = https://github.com/Timmmm/mypaint.git
[submodule "libmypaint"]
	path = libmypaint
	url = https://github.com/Timmmm/libmypaint.git
[submodule "mypaint-brushes"]
	path = mypaint-brushes
	url = https://github.com/Timmmm/mypaint-brushes.git
